.light-green-bg {
  background-color: #cfe2d9;
}
.register-button {
  padding: 10px 15px;
  background-color: #144d34;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  position: relative;
  overflow: hidden;
}

.register-button:hover {
  background-color: #333;
  transform: scale(1.05);
}

.register-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(255, 255, 255, 0.2);
  transform: translate(-50%, -50%) rotate(45deg);
  transition: width 0.3s ease, height 0.3s ease;
}

.register-button:hover::before {
  width: 0;
  height: 0;
}
